<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">

</head>

<body>
  <nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-dark" aria-label="Main navigation">
    <div class="container">
      <div class="navbar-nav ms-flex-align">
        <% unless user_signed_in? %>
          <%= link_to 'Home', root_path, class:"dropdown-item" %>
        <% else %>
          <%= link_to 'Home', root_path, class:"dropdown-item" %>
          <%= link_to 'Meu Perfil', user_profile_path, class:"dropdown-item" %>
        <% end %>
      </div>
      <ul class="navbar-nav ms-auto navbar-nav-scroll">
        <% unless user_signed_in? %>
          <%= link_to 'Logar', user_session_path, class:"dropdown-item" %>
          <%= link_to 'Registrar', new_user_registration_path, class:"dropdown-item" %>
        <% else %>
          <div class="user"><%= current_user.name %></div>
          <%= link_to 'Sair', destroy_user_session_path, class:"dropdown-item", method: :delete %>
        <% end %>
      </ul>
    </div>
  </nav>

  <div class="cards-1" style="padding-bottom: 0rem;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="h2-heading">FakeTwitter</h2>
          <p class="p-heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">FakeTwitter</h4>
              <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">FakeTwitter</h4>
              <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright" style="padding-top: 3rem;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p class="p-small">FakeTwitter.</p>
          <p class="p-small">Copyright © <a href="https://github.com/nicholastn1">Nicholas Timbo</a></p>
        </div>
      </div>
    </div>
  </div>

</body>
</html>