
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">

</head>

<body class="text-center vsc-initialized">
  <main class="form-signin" style="margin: 40%; margin-top: 8rem;">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h1 class="h3 mb-3 fw-normal">Log in</h1>

      <div class="form-floating">
        <%= f.email_field :email, autofocus: true, class:"form-control", placeholder:"name@example.com" %>
        <label for="floatingInput">Email address</label>
      </div><br>

      <div class="form-floating">
        <%= f.password_field :password, class:"form-control", placeholder:"Password" %>
        <label for="floatingPassword">Password</label>
      </div><br>

      <% if devise_mapping.rememberable? %>
        <div class="checkbox mb-3">
          <label>
            <%= f.check_box :remember_me %> Lembrar-me
          </label>
        </div>
      <% end %>
      <div class="actions">
        <%= f.submit "Log in", class:"w-100 btn btn-lg btn-primary" %>
      </div>
      <p class="mt-5 mb-3 text-muted">&copy; 2021–2021</p>
    <% end %>
  </main>

</body>
</html>
